/* colors used */
/*
base      #3480C9
lighter   #5597D5
lightest  #81B3E4
darker    #1169BE
darkest   #094E90
*/


/* navbar formatting */
.navbar-default {
  background-color: #3481c9!important;
}

.navbar-brand {
  font-size: 40px;
  color: white!important;
  text-shadow: 3px 2px #094E90;
}

/* text for links in navbar and portfolio */
.linktext {
  color: black!important;
  text-shadow: 1px 2px #81B3E4;
  font-size: 20px
}

/* intro */
#homePic {width: 100%; }

/* formats about me section */
#about {
  padding: 75px 0 50px 0;
   background-image: url("../images/cubes.png");
   width: 100%;
 }

#abtTxt {padding: 0 50px 0 50px;}

/* sizes profile picture */
.mypic {
  width: 250px;
  float: left;
  margin-right: 25px;}


/* formats portfolio section */
#portfolio {
  background-image: url("../images/graphy.png");
  width: 100%;
  padding: 50px 0 50px 0;
}

/* formats individual project sections */
section {
  margin: 10px 0 10px 0;
}

header {
  padding: 2px 0 3px 0;
}

footer 
{padding: 7px 0 7px 0;
}

header, footer {
  background-color: #79c488!important;
  text-align: center;
}

.projPicNew {
  width: 100%;
}


/* formats contact section */
#contact {
  background-image: url("../images/hexellence.png");
  width: 100%;
  padding: 50px 0 150px 0;
  
}

.sectHead, h4 {
  text-align: center;
}

#contIcon {
  margin: 10px 0 10px 0;
}

/* sizing for images in contact me */
.iconsLg {
  width: 125px;
  display: block;
  margin: 0 auto;
}
