/* a nicer background pattern*/
body {
	background-image: url("../images/rain.jpg");
  width: 100%;
}

/*allows About Me text to flow around picture*/
.mypic {
    float: left;
    padding: 0 10px 10px 0;
}

/*text over pictures for portfolio*/
.projlink { 
   position: relative; 
   padding: 10px;
   /*float: left;*/
   margin: 20px
}

.proj {
	background-color: #446e9b;
	color: #ffffff;
    text-align: center;
	padding: 10px;
	position: absolute; 
    top: 160px; 
    left: 10; 
    width: 200px;
}

/* formatting for contact icons and heading*/
.linkicons {
  padding: 20px;
}

.icons {
  width: 60px;
  height: 60px;
  border: 0;
}

#resume {
  text-align: center; 
}

.cnct {
	text-align: center;
}

/* styling for footer*/
.cpyrt {
	text-align: center; 
	
}

/*sticky footer!!*/
html, body {
  height: 100%; 
  margin: 0; 
}

.wrapper { 
  min-height: 100%; 
  margin-bottom: -60px; }













