/*navbar formatting*/
.navbar-default {
  background-color: #79c488!important;
}

.navbar-brand {
  font-size: 25px;
  color: black!important;
}

.linktext {
  color: black!important;
}

.icons {
  width: 25px;
  height: 25px;
  }


/*about me section*/
#aboutSec {
  margin-top: 55px;
  padding-top: 100px;
  height: 600px;
  background-image: url("../images/rain.jpg");
  width: 100%;
}

#aboutTxt {
  background-color: white; 
  opacity: 0.5;
}

.mypic {
    width: 100%;
}


/*portfolio section*/

#portfolio {
  background-image: url("../images/stripe.jpg");
  width: 100%;
}

/*text over pictures for portfolio*/
.projlink { 
   position: relative; 
   padding: 10px;
   /*float: left;*/
   margin: 20px
}

.proj {
	background-color: #446e9b;
	color: #ffffff;
    text-align: center;
	padding: 10px;
	position: absolute; 
    top: 160px; 
    left: 10; 
    width: 200px;
}

